@import 'constants.less';

.body-container {
  max-width: @site-width;
  margin: 0 auto;
  padding: 0 10px;
  font-family: @font-family;
  cursor: default;
  
  @media only screen and (min-width: @widescreen-width) {
    max-width: @site-width-widescreen;
  }

  h1 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
}

