/* Dimensions */
@site-width: 960px;
@site-width-widescreen: 1200px;
@navbar-height: 50px;
@single-col-width: 768px;
@widescreen-width: 1400px;

/* Fonts */
@font-family: "helvetica neue", "helvetica", "lato", sans-serif;

/* Colors */
@green: green;
@red: red;
@hover-darken: 3%;
@press-darken: 10%;
@color-purple: #9E449B;
@color-grey-background: #F8F8F8;
@color-grey-border: darken(#E7E7E7, 10%);
@nav-background: darken(@color-grey-background, 2%);
@skipvote-color: darken(#f00, 18%);
@like-color: darken(#0f0, 18%);

/* Effects */
@site-border-radius: 2px;
@site-box-shadow: 0 0 3px 0 @color-grey-border;

