@import 'constants.less';

.navbar-default {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: @color-grey-border;
  font-family: @font-family;
}

.navbar-container {
  max-width: @site-width;
  margin: 0 auto;

  @media only screen and (min-width: 769px) {
    padding-right: 15px;
  }

  .navbar-middle {
    width: 100%;

    @media only screen and (min-width: 769px) {
      @width: 470px;
      height: @navbar-height;
      width: @width;
      position: absolute;
      left: 50%;
      margin-left: -@width / 2;
    }
  }
}

.navbar-header {
  text-align: center;
}

#navbar-logo {
  height: @navbar-height;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;

  @fadetime: .1s;
  transition: opacity @fadetime ease-in-out;
  -moz-transition: opacity @fadetime ease-in-out;
  -webkit-transition: opacity @fadetime ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

