@import 'constants.less';

.navbar-default {
  background-color: @nav-background;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: @color-grey-border;
  -webkit-box-shadow: @site-box-shadow;
  box-shadow: @site-box-shadow;
  font-family: @font-family;
  margin-bottom: 0;
  z-index: 9002;

  @media only screen and (max-width: @single-col-width) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9001;

    @box-shadow: 0 0 7px 0 darken(@color-grey-border, 5%);
    -webkit-box-shadow: @box-shadow;
    box-shadow: @box-shadow;
  }
}

.navbar-container {
  max-width: @site-width;
  margin: 0 auto;

  @media only screen and (min-width: @single-col-width) {
    padding-right: 15px;
  }

  @media only screen and (min-width: @widescreen-width) {
    max-width: @site-width-widescreen;
  }

  .navbar-middle {
    width: 100%;

    @media only screen and (min-width: 769px) {
      @width: 470px;
      height: @navbar-height;
      width: @width;
      position: absolute;
      left: 50%;
      margin-left: -@width / 2;
    }
  }

  @media only screen and (max-width: @single-col-width) {
    .logo {
      float: left;
    }

    .navbar-right {
      float: right;
      text-align: right;
      margin-right: 10px;
    }
  }
}

.navbar-header {
  text-align: center;
}

#navbar-logo {
  height: @navbar-height;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;

  @fadetime: .1s;
  transition: opacity @fadetime ease-in-out;
  -moz-transition: opacity @fadetime ease-in-out;
  -webkit-transition: opacity @fadetime ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.navbar {
  background-color: @nav-background;

  .nav-alert {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: -1px;
    text-align: center;
    cursor: default;

    @media only screen and (min-width: (@single-col-width - 1px)) {
      display: none;
    }

    &:empty {
      display: none;
    }
  }
}

