<% layout('layouts/page') -%>
<% block('title', 'Error') %>
<% stylesheet('/styles/error.css') %>

<div class="well">
  <h2>Error</h2>
  <% if (config.web.debug) { %>
    <pre><%= error.stack %></pre>
  <% } else { %>
    <pre><%= error %></pre>
  <% } %>
</div>

