<% layout('layouts/page') -%>
<% block('title', 'Error') %>
<% stylesheet('/styles/error.css') %>

<div class="well">
  <h2><%= (typeof header != 'undefined' && header) ? header : 'Error' %></h2>
  <% if (typeof error == 'string') { %>
    <pre><%= error %></pre>
  <% } else if (typeof error == 'object') { %>
    <% if (config.web.debug) { %>
      <pre><%= error.stack %></pre>
    <% } else { %>
      <pre><%= error %></pre>
    <% } %>
  <% } %>
</div>

