<% layout('layouts/page') -%>
<% block('title', room.name) -%>
<div class="row room-container">
  <div class="col-sm-3 col-sm-12 room-well">
    <h1>Your Queue</h1>
    <h1 class="footer upload">
      <a href="#" class="btn btn-default">
        <span class="glyphicon glyphicon-cloud-upload"></span>
        Upload Songs
      </a>
    </h1>
  </div>
  <div class="col-sm-3 col-sm-12 col-sm-push-6 room-well">
    <h1>Current DJs</h1>
    Blah
    <h1>Listeners</h1>
    Blah
    <h1 class="footer">0 Anonymous listeners.</h1>
  </div>
  <div class="col-sm-6 col-sm-12 col-sm-pull-3 room-activity">
    <h1><%= room.name %> Activity</h1>
  </div>
</div>

